@font-face {font-family:"Stardew Valley Regular";
    src:url("Stardew_Valley_Regular.eot") format("eot"),
    url("Stardew_Valley_Regular.woff") format("woff"),
    url("Stardew Valley Regular.ttf") format("truetype"),
    url("Stardew_Valley_Regular.svg") format("svg");
    font-weight:normal;
    font-style:normal;
}

body {
    color: rgb(99, 63, 9);
    font-family: "Stardew Valley Regular";
}

main {
    background: url(background-natureza.jpg); 
}

h1 { 
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold; 
}
 
.hint-container {
    color:rgb(99, 63, 9);
    text-align: center;
    margin-bottom: 61px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;   
}

.gallows {
    width: 110px;
    margin-top: 50px;
}

.wrong-letters-div {
    display: inline-block;
    background: white;
    padding: 10px;
    margin-left: 10px;
    font-weight: bold;
    text-transform: uppercase;   
    border: 2px solid rgb(99, 63, 9);
    border-radius: 10px;   
}

.wrong-letters-p {
    font-family: serif;
    font-weight: bold;
    font-size: 25px;   
}

.special {
    font-size: 20px;
}

.wrong-letters {
    font-family: serif;
    font-weight: bold;
    font-size: 20px;   
}

.container-lines {  
    display: flex;
    flex-flow: row;
    justify-content: center;
    font-weight: bold;
    gap: 5px;
    align-items: center;
}

.lines {
    font-family:comic;
    margin-bottom: 30px; 
    background: white; 
    color:rgb(99, 63, 9);
    font-size: 50px; 
    border: 3px solid rgb(99, 63, 9);
    border-radius: 10px;   
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;    
}

.buttons button {
   width: 200px; 
   padding: 10px;
   margin: 5px;
   text-transform: uppercase;
   font-size: 16px; 
   font-weight: bold;
   color: rgb(99, 63, 9);
   border: 2px solid rgb(99, 63, 9);
   border-radius: 10px;  
}

.buttons :last-child {
    margin-bottom: 10px;
}

button:hover {
    background: rgb(133, 181, 233);
    transition: all 0.2s ease-in;
    transform: scale(1.1);
    box-shadow: 5px 10px 10px 0 #000000;
}

footer { 
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
    background:url(background-madeira.jpg);   
}

.modal {
    position: absolute;
    top: 35%;
    left: 0px;
    width: 98vw;
    height: 50vh;
    padding: 10px;
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;   
}

.add-word-div {
    text-align: center;
}

.text-area1, .text-area2 {
    text-transform: uppercase;
    font-size: 16px;
    background: white;
    border: 2px solid rgb(99, 63, 9);
    border-radius: 10px;
    resize: none;
}

.btn-add-word, .btn-close-modal {
    font-size: 14px;
    font-weight: bold;
    color: rgb(99, 63, 9);
    text-transform: uppercase;
    background: white;
    border: 2px solid rgb(99, 63, 9);
    border-radius: 10px;
    padding: 5px;
}

.modal-win {
    position: absolute;
    top: 35%;
    left: 0px;
    width: 98vw;
    height: 50vh;
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.win-div {
    text-align: center;
}

.win-text {
    background: rgba(255, 255, 255, 0.693);
    border-radius: 120px;
}

.modal-lose {
    position: absolute;
    top: 35%;
    left: 0px;
    width: 98vw;
    height: 50vh;
    font-family: serif;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    padding: 10px;
}

.win-lose {
    text-align: center;
}

.lose-text {
    background: rgba(255, 255, 255, 0.693);
    border-radius: 120px;
}

.hidden {
    display: none;
}